:root {
    --primary-500: #2196F3;
    --primary-600: #1E88E5;
    --heart-default: #F24E1E;
    --heart-active: #FF3A00;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}
